<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pivotalsoft.pivotallearning">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".helper.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeClinic" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CoursesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyLiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OffersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CourseDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CourseFullViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnrollActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".WalletActivity"
            android:screenOrientation="portrait"/>
    </application>



</manifest>